.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ir-arriba {
  display:none;
  padding: 5px 5px 5px 5px;
  background: rgba(216, 194, 146, 0.75);
  font-size:20px;
  color:black;
  /* border: 1px solid black; */
  box-shadow: 0 0 5px 0 var(--color-shadow);
  width:40px;
  text-align: center;
  cursor:pointer;
  position: fixed;
  /* bottom:20px; */
  bottom:2vh;
  right:2.5vw;
  z-index:300;
}
.ir-arriba:hover{
  color: var(--color-shadow);  
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0 black;
}

:root {
  --color-texto: #d3ddd9;
  --color-texto-oscuro: #0a335a;
  --color-primario: #145b9e;
  --color-primario-claro: #1e7cd4;
  --color-primario-oscuro: #0a335a;
  --color-primario-oscuro2: #061e35;
  --color-secundario: #602697;
  --color-secundario-claro: #8436ce;
  --color-secundario-oscuro: #39155a;
  --color-terciario: #c138db;
  --color-terciario-claro: #d868ee;
  --color-terciario-oscuro: #7b238d;
  /* --color-espontanea: #2bc5e7; (original)
  --color-fulminante: #e031fb; (original) */ 
  /* --color-espontanea: #95e2f3; (aclarado al 60%) */
  --color-espontanea: #8CDCF0;
  /* --color-fulminante: #ef98fd; (aclarado al 60%) */
  --color-fulminante: #F08CDC;
  --color-espontanea-rgba: 140, 220, 240;
  --color-fulminante-rgba: 240, 140, 220;
  --color-eliminado: #639dd3;
  --fuente-titulos: 'Nunito';
  --fuente-contenido: 'Nunito';
  --fuente-header: 'Nunito';
  --animation-duration: 2s;
  --animation-delay: calc(var(--animation-duration)/4);
  --color-epic:#7e22ce;
  --color-legendario:#ea580c;
  --color-base:#81051a;
  --color-detalles: #c084fc;
  --color-detalles2: #a855f7;
  --color-background: 'linear-gradient(to top, #280503 0%, var(--color-base) 100%);';
  --color-shadow: #d8c292;
}


/* ::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--color-primario-claro);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primario);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secundario);
} */

@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.GeneralFont {
font-family: var(--fuente-contenido);
font-weight: 500;
font-size: 0.9rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  /**/
  min-height:40px;
  
  /* background-image: linear-gradient(to top right,
  #ab34bf 0%,
  #1f185b 30%,
  rgba(31, 24, 91, 0.5) 85%); */

  /* background-image: linear-gradient(to top right,
  #602697 0%,
  #040e3e 50%,
  #145b9e 100%); */
  background-image: linear-gradient(to top,
  #280503 0%,
  /* #18181D 50%, */
  var(--color-base) 100%);
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
 
  /* background-image: linear-gradient(to right,
  #c138db 65%,
  #202af3 100%); */
  /* z-index:4; */
  z-index:6;
}

.header-sidebarOpen{
  /* background-image: linear-gradient(to top right,
  rgba(96, 38, 151, 0.2) 0%,
  rgba(4, 14, 62, 0.2) 50%,
  rgba(20, 91, 158, 0.2) 100%); */
}

.header--sticky {
  transform: translateY(0);
  /* background-color: lightgray; */
  /* background-image: linear-gradient(to top right,
  #602697 0%,
  #040e3e 50%,
  #145b9e 100%); */
  /* rgba(31, 24, 91, 1) 85%); */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.header-padding {
  padding: 0px 12px;
}

.content {
  padding-top: 75px;
  padding-bottom: 10px;
  min-height: 100vh;
  /* background-color: var(--color-primario-oscuro); */
  background-color: #280503;
  margin: 0 auto !important;
  color: var(--color-texto);
}

.paddingContent {
  padding-top: 10px;
}


.title-word {
  color:white;
  font-family: var(--fuente-header);
  font-size:1.5rem;
  text-align:center;
  justify-content:center;
}

.subtitle-word {
  color:var(--color-shadow);
  font-family: var(--fuente-header);
  font-size:1.3rem;
  text-align:center;
  justify-content:center;
}

.title-word-nav {
  color:white;
  font-family: var(--fuente-header);
  font-size: 1.1rem;
  text-align: center;
  justify-content: center;
}

.second-word-nav {
  font-weight: bold;
}

.second-word {
  font-weight: bold;
}

.title-word-class {
  margin: 0px 0px 0px !important;
}


      /* SIDEBAR NAVEGACIÓN */
.navMenuHeader {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  padding: 12px;
  vertical-align: middle;
  /* background: linear-gradient(to bottom, var(--color-primario) 0, var(--color-primario) 12px, var(--color-primario-oscuro) 12px,
  var(--color-primario-oscuro) calc(100% - 10px), var(--color-primario) calc(100% - 10px)); */
  background-image: (var(--color-background));
  position: fixed;
  top: 0px;
  width: 350px;
  height: 65px;
  /* z-index: 4; */
  
}

.navMenuHeader.active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.navMenu {
  width: 350px;
  /* height: 100vh; */
  /* height: 75vh; */
  /* height: calc(100vh - 44px - 10vh); */
  height: fit-content;
  position: fixed;
  top: 65px;
  left: -351px;
  background-color: var(--color-base);
  transition: 0.5s;
  padding: 5px 5px 5px 0px;
}

.navMenu.active {
  left: 0;
  /* box-shadow: 1px 1px 5px var(--color-primario-claro); */
  overflow-y: auto;
}

.navMenuFooter {  
  background-color: var(--color-base);
  position: fixed;
  top: 90vh;
  height: 10vh;
  left: 0px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  left: -351px;
  transition: 0.5s;
}

.navMenuFooter.active {
  left: 0;
  /* box-shadow: 0px -1px 5px var(--color-primario-claro); */
}

.logoFooter{
  opacity: 0.25;
}

.footerImgSize {
  width: 10vh;
  height: 10vh;
}

.navLink {
  align-items:left;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;
  color: var(--color-texto);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 10px;
}

.navLink:hover {
  color: var(--color-texto);
  background-color: rgba(40, 5, 3, 0.5);
}

.navLink::before {
  /* content: "· " */
}

.navLink:active {
  transform:scale(110%);
}


.submenu-arrow {
  cursor: pointer;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;
  color: var(--color-texto);
  /* font-size: 18px; */
  /* border-bottom: solid 1px var(--color-secundario-oscuro); */
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(40, 5, 3, 0.75);
}

.submenu-arrow:hover {
  color: var(--color-texto);
  background-color: black;
}

.submenu-arrow.open {
  color: var(--color-texto);
  background-color: rgba(40, 5, 3, 0.75);
}

.nested-submenu {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.nested-submenu li {
  margin: 0;
  padding: 0;
}

.navLinkMain {
  align-items:left;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;
  color: var(--color-texto);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.navLinkMain:hover {
  color: var(--color-texto);
  background-color: var(--color-primario-claro);
}

.iconNavMenu {
  color: #f6f8f7;
  height: 30px;
  width: 30px;
}

.iconNavMenu.open {
  transform: rotate(90deg);
}

.iconNavMenu.close {
  transform: rotate(270deg);
}

.openbtn {
  cursor: pointer;
  border: 0px solid rgba(138, 147, 153, 0.75);
  border-radius: 50px;
  background-color: black;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px var(--color-shadow);
}

.openbtn:hover {
  border: 0px solid rgba(255,255,255, 1);
  /* background-color: var(--color-secundario); */
  background-color: black;
}

.openbtn.active {
  transition: 0.5s;
  transform: translateX(320px);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65,73,90,0.8);
  z-index: 5;
  display: none;

}

.sidebar-open .sidebar-overlay {
  display: block;
}

.sidebar-overlay.reiniciar {
/* z-index: 5; */
z-index: 6;
}

body.sidebar-open,
body.sidebarAnular-open {
  overflow: hidden;
}

.hideHeader {
  position: fixed;
  /* right: -100vw; */
  transform: translateX(100vw) !important;
  transition: 0.5s;
}

.showHeader {
  /* position: fixed; */
  /* transform: translateX(0); */
  transition: 0.5s;
}

.navUl {
  padding: 0;
  list-style: none;
}


.sidebar {
  margin: 0;
  padding: 0;
}


.toggle-button-group {
  margin: 10px 0px;
  display: flex;
  justify-content: space-evenly;
}

.toggle-button-group button {
  font-family: var(--fuente-contenido);
  font-size: 0.9rem;
  background-color: black;
  border: 1px solid var(--color-detalles) !important;
  margin-bottom: 20px;
}

.toggle-button-group-creator button {
  font-family: var(--fuente-contenido);
  font-size: 0.9rem;
  background-color: black;
  border: 1px solid var(--color-shadow) !important;
  margin-bottom: 20px;
}

.toggle-button-group-creator button.active {
  background-color: var(--color-base) !important;
}

.toggle-button-group.summary button {
  font-family: var(--fuente-contenido);
  font-size: 0.9rem;
  background-color: black;
  border: 1px solid var(--color-shadow) !important;
  margin-bottom: 20px;
}

.toggle-button-group .active {
  background-color: #81051a !important;
  color: #fff;
}

table {
  vertical-align: middle !important;
}

.builds-table td {
  color: white;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.builds-table td:first-child {
  white-space: nowrap;
}

.builds-table td:not(:first-child),
.builds-table th:not(:first-child) {
  border-left: 5px solid #280503;
}

.builds-table.selectedBuild td:not(:first-child),
.builds-table.selectedBuild th:not(:first-child) {
  border-left: none !important;
}

.builds-table.selectedBuild td:nth-child(3) {
  text-align: right;
}

.builds-container {
overflow-x: auto;
-webkit-overflow-scrolling: touch;
margin: 10px 0px;
}

.builds-table th {
  color: white !important;
  background-color: rgba(82, 82, 91, 0.75) !important;
  vertical-align: middle !important;
}

.builds-table th.builds-header {
  background-color: #534b36 !important;
}

.epic {
  color: white !important; 
  /* background-image: linear-gradient(to top, #18181D, #7e22ce, #a855f7) !important; */
  background-image: linear-gradient(to bottom right, #18181D, #80009b) !important;  
}

.legendary {
  color: white !important;
  /* background-image: linear-gradient(to top, #18181D, #ea580c, #f97316) !important; */
  background-image: linear-gradient(to bottom right, #18181D, #ca5301) !important;  
}

.epic.creator,
.legendary.creator {
  border: 2px solid #18181D !important;
}

.perk {
  color: #ff5f5f !important
}

.not-perk {
  color: white !important
}

.table-break {
  border-bottom: 5px solid #280503 !important;
}

.builds-header {
  position: relative;
  border-bottom: 5px solid #280503 !important;
}

.icon-eye {
  position: absolute;
  top: 1px;
  right: 4px;
  cursor: pointer;
  opacity: 0.75;
  color: #81051a;
  background-color: white;
  padding: 1px;
  border-radius: 20px 0px 20px 20px;
  transform: scale(1.5);
}

.icon-eye.hidden {
  display: none;
}

.columnToggleButtons {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--color-secundario-oscuro);
  box-shadow: 0 0 1px 1px var(--color-secundario-claro);
  border-radius: 5px;
}


.toggleButton {
  font-size: 0.9rem;
  margin: 5px;
  color: white;
  border: 1px solid var(--color-terciario-oscuro);
  background-color: var(--color-secundario-claro);
  border-radius: 5px;
}

.form-group {
  font-family: var(--fuente-contenido);
  border-top: 1px dashed var(--color-shadow);
  padding: 15px 0px;
}

.form-group-description {
padding: 5px 10px;
margin: 12px 0px;
box-shadow: inset 0 0 5px 0px var(--color-shadow);
border-radius: 8px;
border: 1px solid silver;
background-color: rgba(216, 194, 146, 0.05);
}

.form-description.label {
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0px;
  padding: 10px;
}

.form-label.image {
  margin-bottom: 0px;
  padding: 10px;
}

.form-container {
  display: flex !important;
  gap: 10px;
  align-items: center;
}

.gear-label {
  display: flex;
  justify-content: center;
  color: silver !important;
  /* border-top: 2px solid var(--color-shadow); */
  /* padding: 6px; */
  font-size: 1.2rem;
  background-color: var(--color-base);
  border: 2px ridge var(--color-shadow);
}

.form-gear {
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-gear.description {
  margin: 5px 0px;
}

.form-gear.class {
  justify-content: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-family: var(--fuente-contenido);
  /* background-color: whitesmoke !important; */
  color: white !important;
  background-color: #000000bf !important;
}

.form-control.ultimate {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-family: var(--fuente-contenido);
  /* background-color: whitesmoke !important; */
  color: white !important;
  background-color: #000000bf !important;
  border: none;
}

.form-control.gear {
  font-weight: 700;
}

.form-control.perks {
  color: #ff5f5f !important;
}

.form-control.epic {
  background-color: var(--color-epic) !important;
}
.form-control.legendario {
  background-color: var(--color-legendario) !important;
}

.form-label {
  font-family: var(--fuente-contenido);
  color: white;
}

.form-description {
  font-family: var(--fuente-contenido);
  /* color: var(--color-legendario); */
  color: var(--color-shadow);
  text-shadow: 2px 2px 5px black;
  margin: 5px 0px 0px;
}

.build-creator-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-shadow);
  font-weight: 700;
}

.build-list {
  color: var(--color-texto);
  margin: 10px 0px;
}

.delete-builds-table tr :nth-child(3) {
text-align: center !important;
}

.delete-builds-table th {
  color: white !important;
  background-color: #534b36 !important;
  }

.marked-for-deletion {
  color: black !important;  
  text-decoration: line-through !important;
}

.responsive-table {
  width: 100%;
  overflow-x: auto;
}

.responsive-table table {
  font-size: 0.8rem;
  width: 100%;
  border-collapse: collapse;

}

.separator-row .separator {
  opacity: 0;
  border-left: none;
  border-right: none;
  line-height: 0;
}

.build-name {
  color: white !important;
  background-color: #534b36 !important;
  font-weight: 700;
  font-size: 0.9rem;
  border-top: 1px solid white !important;
  /* border-radius: 0 0 50% 50%; */
}

.tec-container {
  position: relative;
  transform: scale(0.5);
  display: inline-block;
}

.tec-container span {
  /* display: inline-block; */
  position: absolute;
  box-shadow: 0 0 8px 8px rgb(243, 124, 124);
  transform: rotate(45deg);
  height: 70px;
  width: 70px;
  top: 15px;
  left: 15px;
}

.icon-container {
  display: inline-block;
  background-color: #c5b075;
  padding: 0;
  margin: 0;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.icon {
  width: 100px;
  height: 100px;
  /* cursor: pointer; */
}

.selected.icon {
  mix-blend-mode: multiply;
}

/* round version for ultimate and ability */
.tec-container-round {
  position: relative;
  transform: scale(0.5);
  display: inline-block;
}

.tec-container-round span {
  /* display: inline-block; */
  position: absolute;
  box-shadow: 0 0 8px 8px rgb(243, 124, 124);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 0px;
  left: 0px;
}

.icon-container-round {
  display: inline-block;
  background-color: #c5b075;
  padding: 0;
  margin: 0;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  clip-path: circle(50% at 50% 50%);
}

.icon-round {
  /* width: 100px;
  height: 100px; */
  /* cursor: pointer; */
}

.selcted, .selected-round,
.icon, .icon-round {
  width: 160px;
  height: 160px;
}

.selected-round.icon-round {
  mix-blend-mode: multiply;
}

.build-image {
  width: 60px;
  height: 60px;
}

.build-image-selected {
  width: 60px;
  height: 60px;
  mix-blend-mode: multiply;
}

@media (max-width: 400px) {
  .build-image {
  width: 40px;
  height: 40px;
  }
}

.build-summary-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-shadow);
  font-weight: 700;
  margin-bottom: 20px;
}

.summary-table {
  border-collapse: separate !important;
  border-spacing: 3px;
}



.summary-table td {
  width: 20% !important;
  text-align: center;
  border: none; 
}

.summary-class-container {
padding: 8px;
margin: 8px 0px;
display: grid;
grid-template-columns: 1fr 1fr 2fr;
align-items: center;
/* border-top: 2px solid var(--color-shadow); */
background: linear-gradient(to bottom, var(--color-shadow) 2px, var(--color-base) 2px,
transparent calc(100% - 2px), var(--color-shadow) calc(100% - 2px));
box-shadow: 0 0 20px 0 var(--color-shadow);
}

.summary-class-container .number-container {
  text-align: end;
  }

.summary-class-container .number {
text-align: end;
}

h2, h6 {margin: 0 !important}

.clickable-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.clickable-header img {
  margin-right: 10px; /* Adjust as necessary */
}

.clickable-header-buildName {
  cursor: pointer;
}

.build-tec-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Optional: aligns items vertically centered */
}

.build-tec-row td {
  background-color: black !important;
  border-radius: 50px;
  padding: 5px !important;
}

.build-gear-row td {
  border-bottom: 2px solid var(--color-shadow) !important;
}

.toggle-button-title {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 5px 0px;
  border-top: 2px solid var(--color-shadow);
  border-bottom: 2px solid var(--color-shadow);
  margin-bottom: 10px;
}

.toggle-button {
  margin: 5px !important;
  padding: 0px;
  width: 25% !important;
}

.toggle-button img {
  width: 50px;
  height: 50px;
}

.toggle-button-group.build-title {
  margin: 0 !important
}

.toggle-button-text {
  margin-top: 5px;
  font-size: 1rem;
  color: white;
}

/* 
.techniques-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}

.technique-item.first-row {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.techniques-container {
  display: grid;
  align-items: center;
  max-width: 400px !important;
  margin-bottom: 10px;
}

.techniques-container .row {
  padding: 8px 0px;
}

.techniques-container .col-12,
.techniques-container .col-4,
.techniques-container .col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px !important;
  width: 96px !important;
  margin: 0 auto;
}

.techniques-container .divisor {
  
  background-color: rgb(83 75 54);
  height: .25rem;
  transform: translateY(50px);
}